REACT_APP_SERVER_URL=http://localhost:8080/
REACT_APP_ACCOUNT_API_PATH=secured/accounts/
REACT_APP_CATEGORY_API_PATH=secured/categories/
REACT_APP_TRANSACTION_API_PATH=secured/transactions/
REACT_APP_GET_USER_ACCOUNTS_PATH=getAllUserAccounts
REACT_APP_GET_ACCOUNT_VALUES=getAccountValues
REACT_APP_GET_CATEGORIES=getUserCategories
REACT_APP_GET_ACCOUNT_TYPES=getAccountTypes
REACT_APP_CREATE_ACCOUNT=addAccount
REACT_APP_CREATE_CATEGORY=createCategory
REACT_APP_CREATE_TRANSACTION=createTransaction
REACT_APP_IMPORT_TRANSACTIONS=importCSVTransactions